/*  mobile responsive */
@media screen and (max-width:576px) {
    header,
    main{
        width: auto;
        padding:20px 30px;
    }
    nav{
        flex-direction: column;
        gap: 30px;
    }
    .menu-bar,
    .menu-bar > ul{
        gap: 10px;
    }
    .banner-section,
    .feature-section{
        margin-top: 50px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content,
    .feature-content,
    .feature-img{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .banner-title,
    .feature-title{
        font-size: 1.75rem;
        margin-bottom: 10px;
    }
    .banner-img{
        margin-bottom: 50px;
    }
    .sponsor-section{
        margin-top: 50px;
        flex-wrap: wrap;
        border: none;
        justify-content: center;
        gap: 10px;
    }
    .item-container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .item span , .item p{
        width: 100%;
    }
    
}