/*  mobile responsive */
@media screen and (max-width:576px) {
    header{
        padding: 20px;

    }
    nav{
        flex-direction: column;
        gap: 30px;
    }
    .menu-bar,
    .menu-bar > ul{
        gap: 15px;
    }
    .banner-section{
        margin-top: 50px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-img,
    .banner-content,
    .sponsor-section{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
    }
    .sponsor-section{
        flex-wrap: wrap;
        border: none;
    }
    
}